<%- include("header") -%>

<div class="wrapper">
    <div class="nested-wrapper">
        <div class="content">
            <img class="bank-image" src="/images/bank.gif" alt="bank.png">
            <img class="bank-image" src="/images/13.png" alt="13.png">
            <h1>State Bank Of India</h1>
          
        </div>
    </div>
    
</div>

<script >
    $(document).ready(function(){
        $("#footer").css("display","none");
        $("#search-box").css("display","none");

        let bodyHeight = $(document).outerHeight();
            let footerHeight = $(".navbar").outerHeight();
            let bodyWrapperHeight = bodyHeight-footerHeight;
            $(".wrapper").css('height',`${bodyWrapperHeight}px`);
    });
</script>

<%-include("footer")-%>
